/*
* @Author: ZX
* @Date:   2018-08-12 08:32:00
* @Last Modified by:   ZX
* @Last Modified time: 2018-09-09 18:33:47
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
/* 顶部开始 */
header{
	width: 100%;
	height: 5.47rem;
	background:repeating-linear-gradient(to right top,#ffd43d,#fab001);
	padding: 0 0.24rem;
	position: relative;
}
header .confirm{
	width: 100%;
	height: 0.66rem;
	/* background: red; */
	padding-top: 0.21rem;
	display: flex;
}
header .confirm .back{
	width: 2.9rem;
	height: 100%;
	/* background: blue; */
}
header .confirm .back i{
	display:block;
	font-size: 0.3rem;
	color: #fff;
	margin-top: 0.07rem;
}
header .confirm .order{
	width: calc(100% - 2.9rem);
	height: 100%;
/* 	background: yellow; */
	font-size: 0.3rem;
	color: #fff;
}
header .address{
	width: 100%;
	height: 0.56rem;
	/* background: pink; */
	padding-top: 0.22rem;
	display: flex;
	justify-content: flex-start;
}
header .address h5{
	font-size: 0.24rem;
	color: #fff;
	font-weight: lighter;
}
header .address .company{
	margin-left: 0.2rem;
	width: 0.7rem;
	height: 0.32rem;
	border-radius: 0.16rem;
	border: 0.02rem solid #fff;
	background: #fec92b;
	font-size: 0.18rem;
	color: #fff;
	text-align: center;
	line-height: 0.26rem;
}
header h3{
	font-size: 0.34rem;
	color: #fff;
	font-weight: 400;
}
header .name{
	width: 100%;
	height: 0.4rem;
	/* background: blue; */
	display: flex;
}
header .name p{
	font-size: 0.24rem;
	color: #fff;
	font-weight: lighter;
	line-height: 0.4rem;
}
header .name .tel{
	margin-left: 0.54rem;
}
header .pay-time{
	width: 100%;
	height: 1.98rem;
	background: #fff;
	margin: 0.36rem 0;
	border-radius: 0.1rem;
	padding: 0.24rem 0.24rem;
}
header .pay-time h5{
	font-size: 0.24rem;
	color: #333;
	font-weight:600;
}
header .pay-time .time{
	width: 100%;
	overflow: hidden;
	font-size: 0.2rem;
	color: red;
	text-align: right;
}
header .pay-time .overtime{
	font-size: 0.18rem;
	color: red;
}
header .pay-time .point{
	width: 100%;
	overflow: hidden;
	color: #b5b4b4;
	font-size: 0.18rem;
	line-height: 0.3rem;
}
header .pay-time .pay-method{
	padding-top: 0.1rem;
	width: 100%;
	height: 0.54rem;
	display: flex;
	justify-content: space-between;
}
header .pay-time h5{
	font-size: 0.24rem;
	color: #333;
}
header .pay-time p{
	font-size: 0.18rem;
	color: red;
}
/* 主体开始 */
header .main{
	width:7.02rem;
	height: 7.7rem;
	background: #fff;
	border-radius: 0.1rem;
	position: absolute;
	top: 4.8rem;
	padding: 0 0.24rem;
	box-shadow:  0 0.04rem 0.2rem 0.01em rgba(3, 3, 3, 0.2); 
}
header .main .false{
	width: 100%;
	height: 0.43rem;
/* 	background: pink; */
}
header .main .false h3{
	font-size: 0.24rem;
	color: #333;
	float: right;
}
header .main .choose{
	width: 100%;
	height: 0.94rem;
/* 	background: blue; */
}
header .main .choose h3{
	color: #333;
	font-size: 0.3rem;
	text-align: center;
	font-weight: 600;
}
header .main ul{
	width: 100%;
	height: 6.62rem;
/* 	background: yellow; */
	padding: 0 0.24rem;
}
header .main ul li{
	width: 100%;
	height: 1.22rem;
/* 	background: orange; */
}
header .main ul li .point{
	width: 100%;
	overflow: hidden;
	font-size: 0.18rem;
	color: #b7b7b7;
	line-height: 0.12rem;
}
header .main ul li .box{
	width: 100%;
	height: 1.1rem;
/* 	background: pink; */
	display: flex;
}
header .main ul li .box .pic{
	width: 0.87rem;
	height: 100%;
/* 	background: red; */
	padding: 0.24rem 0.24rem 0.24rem 0;
}
header .main ul li .box .pic img{
	width: 0.69rem;
	height: 0.69rem;
	display: block;
	border-radius: 0.35rem;
}
header .main ul li .box .center{
	width: 4.88rem;
	height: 100%;
/* 	background: yellow; */
}
header .main ul li .box .center h3{
	font-size: 0.24rem;
	color: #333;
	line-height: 1.1rem;
	font-weight: 600;
}
header .main ul li .box .right{
	width: 0.6rem;
	height: 100%;
/* 	background: green; */
}
header .main ul li .box .right img{
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 0.2rem;
	margin-top: 0.35rem;
}