/*
* @Author: ZX
* @Date:   2018-08-08 11:10:33
* @Last Modified by:   ZX
* @Last Modified time: 2018-08-09 23:05:18
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
/* 媒体查询 屏幕的最小宽度  一定要按顺序从小往大写*/
@media screen and (min-width: 360px){
	html{
		/* font-size: 48px; */
		/* 计算公式 */
		font-size: calc(360/750*100px);
	}
}
@media screen and (min-width: 375px){
	html{
		/* font-size: 50px; */
		font-size: calc(375/750*100px);
	}
}
@media screen and (min-width: 411px){
	html{
		font-size: calc(411/750*100px);
	}
}
@media screen and (min-width: 412px){
	html{
		/* font-size: 55px; */
		font-size: calc(412/750*100px);
	}
}
@media screen and (min-width: 414px){
	html{
		font-size: calc(414/750*100px);
	}
}
@media screen and (min-width: 750px){
	html{
		/* font-size: 100px; */
		font-size: calc(750/750*100px);
	}
}
@media screen and (min-width: 768px){
	html{
		/* font-size: 102px; */
		font-size: calc(768/750*100px);
	}
}
@media screen and (min-width: 1024px){
	html{
		font-size: calc(1024/750*100px);
	}
}